@page
@model croc_hunter_dotnet.Pages.IndexModel
@{
}
		<html>
			<head>
				<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
				<title>Croc Hunter Dotnet</title>
				<link rel='stylesheet' href='/game.css'/>
				<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
				<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
			</head>
			<body>
				<canvas id="canvasBg" width="800" height="490" ></canvas>
				<canvas id="canvasEnemy" width="800" height="500" ></canvas>
				<canvas id="canvasJet" width="800" height="500" ></canvas>
				<canvas id="canvasHud" width="800" height="500" ></canvas>
				<script src='/game2.js'></script>
				<div class="details">
				<strong>Hostname: </strong>@Model.Hostname<br>
				<strong>Powered By: </strong>@Model.PoweredBy<br>
				</div>
			</body>
		</html>